button {
  display: flex;
  width: 200px;
  text-align: center;
  border: 5px solid springgreen;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  gap: 20px;
  text-align: center;
  padding: auto;
}
.main > div {
  border: 1px solid slateblue;
  text-align: center;
  padding: 20px;
}
.main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

#proclamation {
  flex: 1;
}
#winners {
  flex: 1;
}
#winnerOfRound {
  flex: 1;
}
